


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
body{
    overflow: hidden;
    
    
}
#q {
  color: rgb(42, 74, 235);
}

#heading{
    font-size: 2em;
    padding: 20px;
    background-color: white;
    margin: 0px;
}


.dark-mode {
    background-color: rgb(26, 24, 24);
    color: white;
}
#banner{
  width: 100%;
  height: auto;
   
 
}
/* Create two equal columns that floats next to each other */
.column {
    float:left;
    width: 50%;
    padding: 40px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column1 {
    float:left;
    width: 50%;
    padding: 10px;
    background-color: white;
    height: auto; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  .about-img{
  display:flex;
  width:100%;
  height:auto;
  background-color:#760be0;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height:auto;
    }
    .column1{
      width: 100%;
    }
    .about-img{
   display:block;
   margin-left:auto;
   margin-right:auto;
   border-radius: 24% 24% 24% 24% / 25% 32% 31% 33%;
   width:50%;
   height: 80%;
  }
    }
  @media screen and (min-width: 600px) {
    .column {
      width: 60%;
      height:auto;
    }
    .column1{
      width: 40%;
   
    }
    .about-img{
   display:block;
   margin-left:auto;
   margin-right:auto;
  }
  }
.about{
    display: flex;
    height: 450px;
}
.about-disc{
    width: 50%;
    background-color: wheat;
}
.about-img{
    width: 50%;
    border-left: 4px solid red;
    border-bottom: 4px solid red;
}

#aditya{
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
/* background video */
video{ 
     position: fixed;
        z-index: -100;
       min-width: 100%;
        min-height: 100%;
 
    }
    video{ 
     position: fixed;
        z-index: -100;
       min-width: 100%;
        min-height: 100%;
 
    }
    .outer {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(107,179,255);
background: linear-gradient(90deg, rgba(107,179,255,1) 0%, rgba(93,48,255,1) 100%);
        color: #fcf7f7;
        position: relative;
        border: none;
        letter-spacing: 2px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .inner {
        font-size: 120px;
        padding-top: 50px;
    }
    .college-name{
        font-size: 50px;
        padding: 20px;
        text-transform: capitalize;
        

    }
    .custom-shape-divider-bottom-1705225688 {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
}

.custom-shape-divider-bottom-1705225688 svg {
position: relative;
display: block;
width: calc(100% + 1.3px);
height: 118px;
transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1705225688 .shape-fill {
fill: #FDFDFD;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
.custom-shape-divider-bottom-1705225688 svg {
    width: calc(100% + 1.3px);
    height: 101px;
}
}

/** For mobile devices **/
@media (max-width: 767px) {
.custom-shape-divider-bottom-1705225688 svg {
    width: calc(100% + 1.3px);
    height: 44px;
}
}
@media (max-width:765px){
.outer{
    height: 350px;
    
}
.inner{
    font-size: 2.4em;
    padding-top: 20px;

}
.college-name{
    font-size: 1.4em;

}
}


#animate-charcter
{
text-transform:capitalize;
background-image: linear-gradient(
-225deg,
#231557 0%,
#44107a 29%,
#ff1361 67%,
#fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;
  
}

@keyframes textclip {
to {
background-position: 200% center;
}
}

/* view demo template block*/
.button-69 {
        background-color: initial;
        background-image: linear-gradient(#8614f8 0, #760be0 100%);
        border-radius: 5px;
        border-style: none;
        box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 50px;

        margin-left: -4px;
        margin-top: 30px;
       
        outline: 0;
        text-align: center;
        transition: all .3s cubic-bezier(.05, .03, .35, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: bottom;
        width: 190px;
    }

    .button-69:hover {
        opacity: .7;
    }

    @media screen and (max-width: 1000px) {
        .button-69 {
            font-size: 14px;
            height: 50px;
            line-height: 55px;
            width: 150px;
        }
    }

    #custom_block {
        max-height: 400px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
    }















.service{
    display: flex;
}
p{
    color: rgb(88, 82, 82);
    letter-spacing: 0.01rem;
}
#more {display: none;}